In [1]:
import numpy as np
import pandas as pd

In [2]:
profesi = pd.read_csv('profesi.csv', delimiter='|')

In [3]:
profesi

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

## Jawaban no. 2.1

In [8]:
print(len(profesi.occupation.unique().tolist()))
print(profesi.occupation.unique().tolist())

21
['technician', 'other', 'writer', 'executive', 'administrator', 'student', 'lawyer', 'educator', 'scientist', 'entertainment', 'programmer', 'librarian', 'homemaker', 'artist', 'engineer', 'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor']

## Jawaban no. 2.2

In [11]:
iterables = [['administrator', 'artist', 'doctor', 'educator', 'engineer', 'entertainment'],['F','M']]
index = pd.MultiIndex.from_product(iterables, names=['occupation', 'gender'])

In [12]:
index

MultiIndex([('administrator', 'F'),
            ('administrator', 'M'),
            (       'artist', 'F'),
            (       'artist', 'M'),
            (       'doctor', 'F'),
            (       'doctor', 'M'),
            (     'educator', 'F'),
            (     'educator', 'M'),
            (     'engineer', 'F'),
            (     'engineer', 'M'),
            ('entertainment', 'F'),
            ('entertainment', 'M')],
           names=['occupation', 'gender'])

In [20]:
occup_list = ['administrator', 'artist', 'doctor', 'educator', 'engineer', 'entertainment']
profesi_baru = profesi[profesi.occupation.isin(occup_list)]
profesi_baru.set_index(['occupation', 'gender'], inplace=True)

In [31]:
profesi_baru.index

MultiIndex([('administrator', 'F'),
            ('administrator', 'F'),
            ('administrator', 'F'),
            ('administrator', 'F'),
            ('administrator', 'F'),
            ('administrator', 'F'),
            ('administrator', 'F'),
            ('administrator', 'F'),
            ('administrator', 'F'),
            ('administrator', 'F'),
            ...
            ('entertainment', 'M'),
            ('entertainment', 'M'),
            ('entertainment', 'M'),
            ('entertainment', 'M'),
            ('entertainment', 'M'),
            ('entertainment', 'M'),
            ('entertainment', 'M'),
            ('entertainment', 'M'),
            ('entertainment', 'M'),
            ('entertainment', 'M')],
           names=['occupation', 'gender'], length=294)

In [25]:
profesi_baru.sort_index(inplace=True)
profesi_baru

C:\Users\R7891\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                      user_id  age zip_code
occupation    gender
administrator F            34   38    42141
              F            62   27    97214
              F            72   48    73034
              F            79   39    03755
              F            80   34    52241
...                       ...  ...      ...
entertainment M           432   22    50311
              M           448   23    10021
              M           567   24    10003
              M           915   50    60614
              M           926   49    01701

[294 rows x 3 columns]

38